addons:
    apt:
        packages:
            - build-essential
            - cmake
            - cmake-data
            - cpanminus
            - libperl-dev
            - mercurial
            - ninja-build
            - perl
            - python3-dev
            - python3-pip
            - python3-setuptools
            - valgrind
            - xz-utils
            - zip
cache:
    ccache: true
    directories:
        - $HOME/perl_modules
os: linux
dist: bionic
before_install:
    - cpanm local::lib
    - eval "$(perl -Mlocal::lib=$HOME/perl_modules)"
install:
    - which python3
    - cpanm --notest Code::TidyAll::Plugin::ClangFormat Code::TidyAll::Plugin::TestCount Dir::Manifest Dist::Zilla Env::Path Games::Solitaire::Verify::Solution IO::All Inline Inline::C Perl::Critic Perl::Tidy Pod::Weaver::PluginBundle::SHLOMIF Pod::Weaver::Section::Support Test::CPAN::Changes Test::Code::TidyAll Test::Differences Test::Kwalitee Test::Pod Test::Pod::Coverage Test::RunValgrind Test::TrailingSpace Test::Trap
    - "( cd black-hole-solitaire/Games-Solitaire-BlackHole-Solver/ && dzil authordeps --missing | grep -vP '[^\\w:]' | xargs -n 5 -P 10 cpanm --quiet --notest )"
    - "( cd black-hole-solitaire/Games-Solitaire-BlackHole-Solver/ && dzil listdeps --author --missing | grep -vP '[^\\w:]' | xargs cpanm --verbose --notest )"
    - python3 -m pip install --user cookiecutter tox
    - python3 --version
    - which python3.6
    - ( set -e -x ; cd black-hole-solitaire/python-bindings/cffi/ && python3 wrapper.py build_only && cd dest && python3 -m pip install --user -r requirements.txt )
perl:
    - "5.26"
python:
    - "3.8"
script:
    - "_verbose() { export HARNESS_VERBOSE=1 ; } ; libdir=\"$HOME/apps/fcs/lib\"; LD_LIBRARY_PATH+=\":$libdir\" ; LIBRARY_PATH+=\":$libdir\" ; export LIBRARY_PATH LD_LIBRARY_PATH ; export FCS_TEST_BUILD=1 TOXENV=\"py36\" ; export GCC_CPU_ARCH=x64 ; perl black-hole-solitaire/CI-testing/continuous-integration-testing.pl"
sudo: false
